{% extends 'base.html.twig' %}

{% block title %}Listes des bougie{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">Fiche de la bougie </h1>
<hr>
<div class="row pt-2">
        <div class="card mb-3">
            <h3 class="card-header">{{LaBougie.nom}}</h3>
            <div class="row">
                <div class="col-3 d-flex align-items-center mx-auto">
                    <img class="avatar mx-auto d-block" src="{{LaBougie.image}}" alt"">  </img> 
                </div>
                <div class="col">
                    <div class="card-body">
                    <h5 class="card-title"> 
                        <a href="" class="badge badge-success"></a> {{ LaBougie
                        </h5> 
                    </div>
                    <div class="card-body">
                        <p class="card-text"> {{LaBougie.description|raw}} </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">   <p class="card-text prix"> {{LaBougie.prix}} €</p>  </li>
                    
                    </ul>
                </div>
            </div>
        </div>      
</div>  
<table class="table table-hover mx-auto">
    <thead>
        <tr>
            <th scope="col-3">Photo</th>
            <th scope="col-4">Nom</th>
            <th scope="col-3">Date</th>
            <th scope="col-1">Style</th>
            <th scope="col-3">Morceaux </th>
        </tr>
    </thead>
    <tbody>
    {% for leAlbum in LaBougie.albums %}
        <tr>      
            <td> <img class="miniature" src="{{leAlbum.image}}"></td>
            <td scope="row"> <a href="{{path('ficheAlbum',{'id' : leAlbum.id})}}"> {{ leAlbum.Nom}} </a> </td>
            <td> {{ leAlbum.date }}</td>
            <td> 
                {% for leStyle in leAlbum.styles %}
                    <span class="badge" style"background-color: {{leStyle.couleur}};"> {{leStyle.nom}} </span>
                {% endfor%}
            <td>{{ leAlbum.Morceaux|length }} </td>
        </tr>
        
    {% endfor %}
      
    </tbody>
</table>
{% endblock %}

 