{% extends 'base.html.twig' %}

{% block title %}Liste des Bougie{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">Fiche de la Bougie </h1>
<div class="container">
  <!-- Bouton de retour à la liste des poudres -->
  <div class="mt-4">
    <a href="{{ path('Bougies') }}" class="mb-4 btn btn-outline-warning">Retour à la liste</a>
  </div>
  <table>
  <tr>
  <td>
    <!-- Image de la poudre -->
    <div class="row">
    <div class="col-md-6 mb-4">
      <img class="card-img-top" src="{{ asset('uploads/images/' ~ LaBougie.imageFileName|replace({'http://': '', 'https://': ''})) }}" alt="Card image">
    </div>
  </td>
  <td>
  <div class="">
      <div class="card">
        <div class="card-header">
          <h3><u>{{ LaBougie.nom }}</u></h3>
        </div>
        <div class="card-body">
          <h4>Prix : {{ LaBougie.prix }} €</h4>
          <!-- Accordéon pour informations supplémentaires -->
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Informations supplémentaires
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <h6>Matériaux : {{ LaBougie.materiaux }}</h6>
                  <h6>Couleur : {{ LaBougie.couleur }}</h6>
                  <h6>Durée de vie : {{ LaBougie.ddv }}h</h6>
                  <h6>Taille : {{ LaBougie.taille }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </td>
  </tr>
  </table>
  </div>
</div>
  
{% endblock %}

{% block stylesheets %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" 
  integrity="sha384-KyZXEJ1mR7gXQm7g66j6kR3J1ji7b+HkBqAqPTr9W1o8Dk5h7YdBxF1EbwFcbjop" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ asset('public/image/app.css') }}">
{% endblock %}
