{% extends 'base.html.twig' %}

{% block title %}Listes des bougies{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">Nos bougies </h1>
<hr>
<div class="row pt-2">
{% for LaBougie in LesBougies%}
    {% set nbalbum = LaBougie.albums|length %}
    <div class="col-sm-12 col-md-4 col-lg-4 col-lx-3">
        <div class="card mb-3">
            <h3 class="card-header"> <a href=" {{path('ficheArtiste',{'id': LaBougie.id })}} ">  {{LaBougie.nom}}</h3>
            <div class="card-body">
            <h5 class="card-title"> 
                <a href="" class="badge badge-success"></a> {{ LaBougie.albums|length}} {% if nbalbum > 1  %} albums {% else %} album {% endif %}
                </h5> 
            </div>
            <img class="avatar mx-auto d-block" src="{{LaBougie.image}}" alt"">  </img>
            <div class="card-body">
                <p class="card-text">{{LaBougie.description|slice(0,200)|raw}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> {% if LaBougie.type == 0 %} Artiste Solo {% else %} Artiste en groupe {% endif %} </li>
                <li class="list-group-item"> <a href="{{ LaBougie.site }}"> son site web </a> </li>
            </ul>   

        </div>      
    </div>
{% endfor %}


</div>
{% endblock %}
 
