{% extends 'base.html.twig' %}

{% block title %}Listes des bougies{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">Nos bougies </h1>
<hr>
<div class="row pt-2">
    {% for LaBougie in LesBougies%}
        <div class="col-md-4 mb-4">
            <div class="card">
              <img src="{{ LaBougie.image }}" class="card-img-top" alt="Image de {{ LaBougie.NomB }}">
              <div class="card-body">
                <a class="dropdown-item" href="{{ path('ficheBougie', {'id': LaBougie.id }) }}"><strong><u>{{ LaBougie.NomB }}</u></strong></a>
                <p class="card-text"><strong>Prix :</strong> {{ LaBougie.prix }} €</p>
              </div>
            </div>
          </div>
    {% endfor %}

</div>
<br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
 
