{% extends 'base.html.twig' %}

{% block title %}Listes des poudres parfumée{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">Nos poudres parfumée</h1>
<hr>
<div class="row pt-2">
    {% for LaPoudre in LesPoudres%}
        <div class="col-md-4 mb-4">
            <div class="card">
              <img src="{{ LaPoudre.image }}" class="card-img-top" alt="Image de {{ LaPoudre.nom }}">
              <div class="card-body">
                <a class="dropdown-item" href="{{ path('FichePoudre', {'id': LaPoudre.id }) }}"><strong><u>{{ LaPoudre.nom }}</u></strong></a>
                <p class="card-text">{{ LaPoudre.description }}</p>
                <p class="card-text"><strong>Prix :</strong> {{ LaPoudre.prix }} €</p>
              </div>
            </div>
          </div>
    {% endfor %}

</div>
<br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}

 
